{% extends 'base.html' %}
{% load static %}
{% block content %}
  <br><br>
    <div class="container">
      <h3 style="color: crimson;">Cambio de estado realizado exitosamente   !!!!!!!!!!!</h3>
      <br><br>
      <h3 style="color: rgb(17, 143, 122);">Se ha enviado aviso a su corre electrónico</h3>
        <br><br>
      <a name="" id="" class="btn btn-success btn-lg active btn-sm" href="{% url 'administra_pedidos' %}" role="button" type="button">Volver</a>
      <br><br>
    </div>
{% endblock %}